<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
            integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
            crossorigin="anonymous"></script>

    <style>

        body
        {
            background-image: url("https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png");
        }

        div {
            border-style: dotted;
            border-left-style: none;
            border-top-style: none;
            border-right-style: none;
            text-align: center;
        }
        div.columnHeader {
            float: left;
            width: 25%;
            background-color: darkgrey;


        }
        div.column {
            cursor: help;
           float: left;
            width: 25%;
            background-color: blanchedalmond;
            padding: 5px;
        }
        div.marginalizer {

            margin-top: 150px;

        }



        p {
        margin: auto;
            padding: 8px;
        }
        p.rubrik {
           margin-left: 40px;
color: chartreuse;
            margin-bottom: 15px;
        }




    </style>


</head>
<body>


<h1 style="text-align: center; margin-top: 25px; margin-bottom: 25px" >
    Listing all contacts @JEJ
</h1>



<form id="changeForm" th:object="${contact}" th:action="@{/edit}" method="get">

    <p class="rubrik" >
        Change the data for the inserted ID!
    </p>

    <input type="submit" class="btn btn-primary" style="float: left; width: 20%";>

    <input type="text" th:field="*{contactId}" id="ID" style=" float: left; width: 20%";  class="form-control mb-4" placeholder="ID" required>

    <input type="text" th:field="*{name}" id="Name" style=" float: left; width: 20%";  class="form-control mb-4" placeholder="Name" required>
    <input type="text" th:field="*{email}" id="Email" style=" float: left; width: 20%"; class="form-control mb-4" placeholder="Email" required>
    <input type="text" th:field="*{phone}" id="Phone" style=" float: left; width: 20%"; class="form-control mb-4" placeholder="Phone:" required>


</form>
<br>
<form id="deleteForm" th:object="${contact}" th:action="@{/remove}" method="get">>
    <p class="rubrik" >
        Or, Delete the contact of inserted ID!
    </p>

    <input type="submit"  class="btn btn-primary" style="float: left; width: 20%";>

    <input type="text" th:field="*{contactId}" id="ID2" style=" float: left; width: 20%";  class="form-control mb-4" placeholder="Delete ID here" required>

</form>

<div class="marginalizer"></div>

<div class="columnHeader" >
    <p>ID</p>
</div>
<div class="columnHeader" >
    <p>Name</p>
</div>
<div class="columnHeader" >
    <p>Email</p>
</div>
<div class="columnHeader" >
    <p>Phone-number</p>
</div>

</div>

<div>

<tbody>
<tr th:each="contact: ${allContacts}">

        <div class="column"  >
        <td th:text="${contact.contactId}" />
        </div>

        <div class="column" >

    <td th:text="${contact.name}" />
        </div>

    <div class="column" >
    <td th:text="${contact.email}" />
    </div>

    <div class="column">
        <td th:text="${contact.phone}" />
    </div>



</tr>
</tbody>

</div>



<script>
    function editFunction() {
        var x = document.getElementById("changeForm");
        if(x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function deleteFunction() {
        var x = document.getElementById("deleteForm");
        if(x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }


</script>

</body>
</html>