<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Searching</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
          integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
            integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
            crossorigin="anonymous"></script>

    <style>

        body
        {
            background-image: url("https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png");
        }
        div {
            border-style: dotted;
            border-left-style: none;
            border-top-style: none;
            border-right-style: none;
            text-align: center;
        }
        div.columnHeader {
            float: left;
            width: 25%;
            background-color: darkgrey;


        }
        div.column {
            cursor: help;
            float: left;
            width: 25%;
            background-color: blanchedalmond;
            padding: 5px;
        }
        div.marginalizer {

            margin-top: 50px;
        }
        p {
            margin: auto;
            padding: 8px;
        }
        p.rubrik {
            margin-left: 40px;
            color: chartreuse;
            margin-bottom: 15px;
        }

    </style>

</head>
<body>
<!-- frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen

</iframe>

    <video width="320" height="240" autoplay="autoplay">
        <source src="https://youtu.be/TIfAkOBMf5A" type="">


    </video>-->


<iframe style="margin-left: 40%" width="320" height="240" src="https://www.youtube.com/embed/TIfAkOBMf5A?autoplay=1&mute=0" frameborder="0">

</iframe>


<form class="text-center border border-light p-5" th:action="@{/searchcontact}" method="post" >

    <p class="h4 mb-4">Hey buddy!</p>

    <p style="size: 20px" >
        Who are you searching for?
    </p>

    <!-- Name -->
    <input type="text" th:name="input" id="inputField" class="form-control mb-4" placeholder="Name">
    <button id="search-btn" type="submit" class="btn btn-info btn-block" style="background-color: #4CAF50" >Search</button>

</form>

<div class="marginalizer"></div>

<div class="columnHeader" >
    <p>ID</p>
</div>
<div class="columnHeader" >
    <p>Name</p>
</div>
<div class="columnHeader" >
    <p>Email</p>
</div>
<div class="columnHeader" >
    <p>Phone-number</p>
</div>


<div>

    <tbody>
    <tr th:each="contact: ${allContacts}">


    <tr th:each="contact: ${list}">

        <div class="column">
        <td th:text="${contact.contactId}" />

        </div>
        <div class="column">

        <td th:text="${contact.name}" />
        </div>
        <div class="column">

        <td th:text="${contact.email}" />
        </div>
        <div class="column">

        <td th:text="${contact.phone}" />
        </div>
    </tr>
    </tbody>


</div>

</body>
</html>